/* Custom font */
@font-face {
    font-family: Norse-Bold;
    src: url(../sign-up-form/custom-font/Norse-Bold\(1\).otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
}

.container-all {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 95%;
    min-height: 100%;
}

.form-container {
    flex-flow: column;
    min-height: 1100px;
    width: 95vw;
    min-width: 65vw;
}

.image-container {
    background: url(../sign-up-form/images/simon-leopard-unsplash.jpg);
    background-position: center;
    background-size: 100% 100%;
    width: 40vw;
    min-width: 600px;
}

.row-text {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    background-color: rgba(17, 13, 13, 0.4);
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
}

header, footer {
    min-height: 20%;
}

form {
    min-height: 60%;
    background-color: rgba(17, 13, 13, 0.4);
    color: white;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

@media only screen and (max-width: 600px) {

.container-all {
    flex-direction: column;
    justify-content: center;
}

.form-container {
    background: url(../sign-up-form/images/simon-leopard-unsplash.jpg);
    background-size: 100% 100%;
    width: 92vw;
}

}