/* Custom font */
@font-face {
    font-family: Norse-Bold;
    src: url(../sign-up-form/custom-font/Norse-Bold\(1\).otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgba(175, 142, 132, 0.781)
}

.container-all {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 80%;
    min-height: 100vh;
}

.form-container {
    flex-flow: column;
    min-height: 1150px;
    width: 100vw;
    min-width: 50vw;
}

.form-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.image-container {
    background: url(../sign-up-form/images/simon-leopard-unsplash.jpg);
    background-position: center;
    background-size: 100% 100%;
    width: 50vw;
    min-width: 600px;
}

.banner {
    background-color: rgba(37, 37, 37, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 740px;
    height: 120px;
    font-family: Norse-Bold;
}

.banner img {
    height: 110px;
}

.banner p {
    color: white;
    font-size: 80px;
}

.row-text {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    text-align: start;
    line-height: 1.5;
}

header {
    min-height: 30%;
}

footer {
    height: 20%;
 
}

header p {
    margin-left: 50px;
}

form {
    min-height: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 22px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-rows {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 70px;
    margin-left: 40px;
    height: 100px;
    margin-top: 50px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 70px;
    font-size: 17px;
}

.footer-wrap {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 50px;
    gap: 10px;
    font-size: 22px;
}

.wrapper input {
    border-radius: 10px;
    outline: 1px transparent grey;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
}

.input-containers {
    height: 200px;
}

.wrapper input:focus {
    outline: 1px solid blue;
    box-shadow: 1px 2px 1px;
}

.submit-button {
    margin-left: 40px;
    margin-top: 40px;
}

.submit-button button {
    border-radius: 5px;
    padding: 2px;
    font-size: 18px;
}

@media only screen and (max-width: 1430px) {
    .form-content {
        flex-direction: column;
    }

    .form-rows {
        margin-top: 0px;
    }

    .wrapper input {
        border-radius: 2px;
        outline: 1px transparent grey;
        height: 22px;
        font-size: 18px;
    }

    .wrapper {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 45px;
        font-size: 17px;
    }

    .form-rows input {
        width: 250px;
    }

}



@media only screen and (max-width: 600px) {

.container-all {
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
}

.banner {
    display: none;
}

.form-rows {
    margin-top: 0px;
    margin-right: 25px;
}

.footer-wrap {
    margin-bottom: 50px;
    font-size: 18px;
    margin-right: 20px;
}

.wrapper input {
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    height: 22px;
    border-radius: 2px;
}

.wrapper {
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 50px;
}

footer {
    justify-content: center;
}

header p {
    margin-left: 0;
}

.form-content {
   flex-direction: column;
   align-items: center;
}

.row-text, form {
    font-size: 19px;
    text-align: center;
}

.form-container {
    justify-content: center;
    background: url(../sign-up-form/images/simon-leopard-unsplash.jpg);
    background-size: 100% 100%;
    width: 100vw;
}

.submit-button {
    margin-left: 22px;
    margin-top: 40px;
}

.submit-button button {
    border-radius: 5px;
    padding: 2px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.4);
}

::placeholder {
    color: black;
    opacity: 1;
}

}